[submodule "site/themes/poison"]
	path = site/themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "docs/themes/poison"]
	path = docs/themes/poison
	url = https://github.com/lukeorth/poison.git
